@model IEnumerable<Org.Ktu.Isk.P175B602.Autonuoma.Model.Uzsakymai>
@{
    ViewData["title"] = "Užsakymų peržiūra";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div>
        <h2><center>Užsakymų peržiūros puslapis</center></h2>
	</div>
        <a href="/">Pagrindinis</a>
        <div class="d-flex justify-content-center">
	<table class="entitylist table table-striped table-responsive table-hover">
		<thead>
			<tr>
				<th style="width: 100px;">
					@Html.DisplayNameFor(model => model.pk_Id)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.UzsakymoLaikas)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.UzsakymoKaina)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ApmokejimoLaikas)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Nuolaida)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Busena)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.fk_Naudotojas)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.fk_Parduotuve)
				</th>
				<th>
					Redaguoti
				</th>
				<th>
						Šalinti 
				</th>
				<th>
					Apmokėti
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(model => item.pk_Id)
				</td>
				<td>
					@Html.DisplayFor(model => item.UzsakymoLaikas)
				</td>
				<td>
					@Html.DisplayFor(model => item.UzsakymoKaina)
				</td>
				<td>
					@Html.DisplayFor(model => item.ApmokejimoLaikas)
				</td>
				<td>
					@Html.DisplayFor(model => item.Nuolaida)
				</td>
				<td>
					@Html.DisplayFor(model => item.BusenaToString)
				</td>
                <td>
					@Html.DisplayFor(model => item.fk_NaudotojasToString)
				</td>
                                <td>
					@Html.DisplayFor(model => item.fk_ParduotuveToString)
				</td>
				<td>
					<a href="@Url.Action("Edit", new { id=item.pk_Id })" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Redaguoti</a>
				</td>
				<td>
						<a href="@Url.Action("Delete", new { id=item.pk_Id })" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Šalinti</a>
				</td>
				<td>
				@if (item.Busena == 1) {
					<a href="@Url.Action("Buy", new { id=item.pk_Id })" class="btn btn-success"><i class="fa-solid fa-dollar-sign"></i> Apmokėti</a>
				}
				</td>
				</tr>
				<tr>
						<td>Prekės:</td>
						<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				</tr>
				<tr>
						<td>Pavadinimas</td>
						<td>Kiekis</td>
						<td>Vieneto kaina</td>
						<td>Kaina</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
				</tr>
				@foreach (var el in item.uzsakymoPrekes)
				{
					<tr>
						<td>
							@Html.DisplayFor(model => el.fk_PrekeToString)
						</td>
						<td>
							@Html.DisplayFor(model => el.PrekesKiekis)
						</td>
						<td>
							@Html.DisplayFor(model => el.VienetoKaina)
						</td>
						<td>
							@Html.DisplayFor(model => el.Kaina)
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				}
				<tr class="table-success">
					<td>Galinė kaina: @item.GalineKaina()</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			}
		</tbody>
	</table>
        </div>
</body>
</html>